mat-label input {
  padding-left: 20px;
  margin-bottom: 10px;
}
mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
mat-label{
  margin-bottom: 20px;
}
div {
  font-weight: bold;
  font-family: Poppins;
}
h1{
  text-align: center;
}
mat-table {
  background-color: aliceblue;
  color: black;
}
